body {
    background-color: white;
    font-family: "Quicksand";
    color: darkgray;
}

/* Styles for the header */
header {
    background-color: lightsalmon;
    width: 100%;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

header::after { 
    content: "";
    display: block; 
    clear: both;
  }

header h1 {
    float: left;
    margin: 15px 0px 5px 5px;
    font-weight: normal;
    font-size: 1rem;
    color: white;
}

.right-header {
    width: 60%;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bell-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 45px;
    height: 40px;
    margin-top: 5px;
    border-right: 2px solid darksalmon;
}

.icon-bell {
    width: 1rem;
    height: 1rem;
    padding: 10px 10px;
    border-radius: 3px;
    fill: white;
    align-self: center;
    transition: all .1s;
}

.marker-container {
    position: absolute;
    right: 7.5px;
}

.notifications {
    display: none;
    width: 155px;
    min-height: 150px;
    position: absolute;
    top: 50px;
    right: 25px;
    border: 3px solid white;
    border-radius: 4px;
    background-color: lightsalmon;
    color: white;
}

.icon-bell:hover {
    background-color: white;
    fill: darksalmon;
}

.icon-bell:hover + .notifications {
    display: block;
}

.notification-header {
    font-size: 0.80rem;
    margin: 15px 0px 0px 15px;
}

.notification-list {
    padding: 0px 5px 0px 15px;
}

.notification-list li {
    list-style: none;
    font-size: 0.75rem;
    font-style: italic;
    margin: 10px 0px 20px;
}

.user {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}

.user img {
    border: 2px solid darksalmon;
    border-radius: 50%;
    align-self: center;
    width: 25px;
    height: 25px;
    margin: 11px 12px;
    
}

.user h3 {
    margin-right: 5px;
    align-self: center;
    font-size: 0.75rem;
    font-weight: normal;
    color: white;
}

/* Styles for the navigation bar */

nav {
    background-color: darksalmon;
    display: flex;
    justify-content: center;
}

nav img {
    width: 1.25rem;
    height: 1.25rem;
    margin: 7px 5vw 5px;
    color: white;
}

main {
    width: 100%;
    margin: auto;
}

/* Styling for the main header */

.headline {
    float: left;
    width: 25%;
    font-size: 0.80rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.main-header-search-bar {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
    height: 45px;
    border-left: 0.75px solid rgb(216, 216, 216);
    border-bottom: 0.75px solid rgb(216, 216, 216);
    border-radius: 1px;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
}

.main-header-search-bar input {
    border: 1px solid rgb(216, 216, 216);
    border-right: none;
    width: 50%;
    height: 25px;
    padding: 0px 5px;
    font-size: 0.75rem;
}

::placeholder {
    color: rgb(216, 216, 216);
    opacity: 1; 
}
  
:-ms-input-placeholder {
    color: rgb(216, 216, 216);
}
  
::-ms-input-placeholder {
    color: rgb(216, 216, 216);
}

.main-header::after {
    content: "";
    display: block; 
    clear: both;
}

#search-button {
    height: 25px;
    margin-right: 5px;
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
    border-left: none;
    cursor: pointer;    
    box-sizing: border-box;
}

#search-button img {
    vertical-align: middle;
    padding-right: 10px;
}

/* Styles for the Alert Section */
.alerts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:auto;
    width: 94%;
    margin: 10px auto 0px;
    background-color: lightsalmon;
    border-radius: 4px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.alerts h3 {
    font-size: 0.7rem;
    font-weight: bold;
    margin: 10px 0px 2.5px 5px;
}

.alert-details {
    font-size: 0.7rem;
    font-weight: normal;
    padding: 0px 20px 0px 5px;
    margin-top: 5px;
}

.x-out {
    padding-right: 5px;
    height: 12.5px;
    vertical-align: middle;
    align-self: center;
}

/* Styles for traffic section */
.traffic {
    margin-top: 10px;
}

.traffic-header h3 {
    font-size: 0.70rem;
    float: left;
    margin-left: 10px;
}

.traffic-nav {
    float: right;
    display: flex;
    flex-direction: row;
    margin: 8.5px 0px ;
    padding-left: 30px;
}

.traffic-nav-link {
    list-style: none;
    width: auto;
    height: 20px;
    padding: 3.5px 9px 0px;
    box-sizing: border-box;
    border-radius: 16px;
    text-align: center;
    font-size: 0.65rem;
}

.traffic-nav-link:hover {
    background-color: rgb(200, 140, 255);
    color: white;
}

.traffic-header::after {
    content: "";
    display: block; 
    clear: both;
}

/* Styles for daily and mobile traffic section */

.daily,
.mobile {
    border-top: 0.75px solid rgb(216, 216, 216);
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.daily h3,
.mobile h3 {
    font-size: 0.70rem;
    margin-left: 10px;
}

.widget-container-half {
    margin: 0px 5px 10px 5px;
}

/* Styles for the Social Status section */
.social {
    border-top: 0.75px solid rgb(216, 216, 216);
    padding-top: 15px;
}

.social-status-header {
    font-size: 0.70rem;
    margin-left: 10px;
}

.social-section-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.social-status {
    width: 200px;
    border: 0.75px solid rgb(216, 216, 216);
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    margin: 10px 25px;
}

.twitter-svg,
.facebook-svg,
.google-svg {
    background-color: darksalmon;
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 32px;
}

.social-status img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    padding-left: 14px;
    padding-top: 14px;   
}

.facebook-svg img {
    padding-left: 12px;
    padding-top: 12px;
}

.social-text {
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.social-text h3 {
    margin: 0px;
    margin-top: 13px;
    font-size: 0.75rem;
}

.social-text p {
    margin: 0px;
    font-size: 1.75rem;
}

.social-status::after {
    content: "";
    display: block;
    clear: both;
}

/* New Members and Recent Activity Section */
.new-members,
.recent-activity {
    border-top: 0.75px solid rgb(216, 216, 216);
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.new-member-header,
.recent-activity-header {
    font-size: 0.70rem;
    margin-left: 10px;
}

.member-container {
    width: 95%;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin: auto;
}

.picture {
    float: left;
    margin: 10px 7.5px 10px 2.5px; 
}

.picture img { 
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.member-text,
.activity-text {
    font-family: "Roboto";
    display: inline-block;
    width: 50%;
    font-size: 0.7rem;
    font-weight: bold;
    margin: 12.5px 0px 12.5px 7px;
}

.activity-text {
    width: 70%;
    font-weight: normal;
}

.member-text p,
.activity-text p {
    margin: 0px;
}

.activity-time {
    font-weight: bold;
}

.member-text a {
    color: darksalmon;
}

.date {
    float: right;
}

.date p {
    font-size: 0.7rem;
    margin: 17.5px 2.5px 0px 0px;
}

.next {
    width: 20px;
    float: right;
    margin: 13.5px 2.5px 0px 0px;
}

.next img {
    margin-top: 2px;
}

.member-container::after {
    content: "";
    display: block;
    clear: both;
}

/* Styles for Message and Settings Section */
.message,
.settings {
    border-top: 0.75px solid rgb(216, 216, 216);
    margin-bottom: 15px;
    padding-top: 15px;
}

.settings {
    margin-bottom: 25px;
}

.message-header,
.settings-header {
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: 10px;
}

.widget-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.member-search,
.form-area,
.timezones {
    border: 0.75px solid rgb(216, 216, 216);
    border-radius: 4px;
    font-size: 0.7rem;
    padding: 7.5px 0px 7.5px 10px;
    margin: 2.5px 0px 10px; 
    background-color: rgb(243, 243, 243);
}

.member-search {
    height: 21px;
}

.form-area {
    height: 100px;
    overflow: auto;
}

.message-button {
    border: none;
    border-radius: 4px;
    background-color: lightsalmon;
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
    padding: 15px 0px;
}

.settings-options {
    width: 95%;
    margin: auto;
}

.toggle-container {
    display: flex;
    justify-content: row;
    margin-top: 25px;
    margin-bottom: 29px;
}

.toggle-container strong {
    font-size: 0.7rem;
    padding-top: 5px;
    margin-right: 5px;
}

#send-email-label {
    padding-right: 10px;
}

#profile-private-label {
    padding-right: 30px;
}

.toggles span{
    width: 100px;
    font-size: 0.75rem;
}

.timezones {
    width: 100%;
    margin-bottom: 15px;
    color: rgb(216, 216, 216);
}

.settings-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-save,
.button-cancel {
    width: 46%;
    border: none;
    border-radius: 4px;
    padding: 15px 0px;
    background-color: lightsalmon;
    color: white;
    font-size: 0.7rem;
}

/* MEDIA QUERY SECTION FOR 768px RESOLUTION VIEWS */
@media (min-width: 768px) {


    /* Header Adjustments */
    header h1 {
        font-size:1.25rem;
        margin: 12.5px 0px 5px 15px;
    }

    .icon-bell {
        width: 1.25rem;
        height: 1.25rem;
    }

    .user h3 {
        font-size: 0.9rem;
        margin-right: 10px;
    }
    
    /* Navigation Adjustments */
    nav {
        flex-direction: column;
        justify-content: flex-start;
    }

    nav img {
        width: 1.5rem;
        height: 1.5rem;
        margin: 20px 17px;
    }

    /* Main Header Adjustments */
    .headline {
        width: 20%;
        margin-top: 17.5px;
        font-size: 0.90rem;
    }

    .main-header-search-bar {
        width: 80%;
        height: 50px;
    }

    .main-header-search-bar input {
        font-size: 0.85rem;
        height: 30px;
    }

    #search-button {
        height: 30px;
    }

    #search-button img {
        padding-top: 7.5px;
    }

    /* Alert Section Adjustments */
    .alerts {
        display: flex;
        flex-direction: row;
    }
    
    .alert-details {
        display: block;
        padding-top: 5px;
        padding-left: 20px;
    }

    .notifications {
        width: 300px;
        right: 171px;
    }


    /* Traffic Section Adjustments */
    .traffic-nav {
        margin-right: 5px;
    }

    /* Daily Section Adjustments */
    .daily {
        border-right: 1px solid rgb(216, 216, 216);
    }

    .daily,
    .mobile {
        padding: 5px 2.5px 10px 0px;
    }
    
    .daily h3,
    .mobile h3 {
        margin-bottom: 20px;
    }

    /* Social Section Adjustments */
    .social-status {
        width: 200px;
        margin: 15px 10px;
    }

    .social-status-header {
        margin-left: 15px;
    }

    .social-section-flex {
        justify-content: space-around; 
    }

    .social-text {
        float: none;
        margin: 0px;
        padding-left: 20px;
    }

    /* New Members and Recent Activity Section Adjustment */
    .new-members {
        border-right: 1px solid rgb(216, 216, 216);
    }
    
    .picture {
        margin-right: 0px;
    }

    .activity-text {
        width: 81%;
    }

    /* Adjustments to the Message and Settings Section */
    .message {
        border-right: 1px solid rgb(216, 216, 216);
    }

    #timezones {
        margin-top: 12px;
    }
}

/* MEDIA QUERY AT 1024px RESOLUTION */
@media (min-width: 1024px) {

    /* Main Header Section Adjustments */
    .headline {
        font-size: 1.25rem;
    }

    /* Alerts Section Adjustment */
    .alerts-container {
        width: 96%;
    }

    /* Traffic Section Adjustments */
    .traffic-header h3 {
        font-size: 1rem;
        margin-left: 15px;
    }

    .traffic-nav-link {
        margin-left: 30px;
        font-size: 0.9rem;
        height: 30px;
        padding-top: 6px;
        padding-left: 10px;
    }

    /* Daily, Mobile, New Members, Activity, Message, and Settings Section Header Font Adjustments */
    .daily h3,
    .mobile h3,
    .social-status-header,
    .new-member-header,
    .recent-activity-header,
    .message-header,
    .settings-header {
        font-size: 1rem;
        margin-left: 20px;
    }

    /* Social Status Section Adjustments */
    .social-status {
        width: 250px;
        height: 100px;
        margin-left: 7.5px;
        margin-right: 7.5px;
    }

    .twitter-svg,
    .facebook-svg,
    .google-svg {
        margin-top: 22.5px;
    }


    .social-text {
        margin-top: 8px;
    }

    .social-text h3 {
        font-size: 0.85rem;
        font-weight: bold;
    }

    .social-text p {
        font-size: 2.25rem;
    }

    /* New Member and Recent Activity Section Adjustments */
    .picture img {
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }

    .member-text,
    .activity-text {
        font-size: 0.9rem;
    }

    .date p {
        font-size: 0.95rem;
        margin-top: 17.5px;
    }

    .next {
        margin-top: 15px;
    }

    /* Message and Settings Section Adjustments */
    .member-search,
    .form-area,
    .timezones,
    .message-button,
    .button-save,
    .button-cancel {
        font-size: 0.95rem;
    }

    .settings-buttons {
        margin-top: 3px;
    }

    #timezones {
        margin-top: 10px;
    }
}

